.hover-able-card--wrapper {
  margin: 1rem auto;
  background-color: var(--tertiary-color, #717171);
}

.hover-able-card {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
}


.hover-able-card::after {
  content: "";
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(180deg, rgba(61, 0, 37, 0) 0%, #3D0025 130.64%);

}

.hover-able-card-content--wrapper {
  min-width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin: auto;
  transform: translate(0, -100%);
  background-color: transparent;
  -o-transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}