{
    "printWidth": 120,
    "useTabs": true,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "doubleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "wrap": true
}