.navbar {
    background-color: var(--white-color) ;
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 0;
    -o-transition: background-color 200ms ease-in;
    -webkit-transition: background-color 200ms ease-in;
    -moz-transition: background-color 200ms ease-in;
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
    z-index: 99;
    box-shadow: 0 0 20px var(--primary-color) ;
  }
  
  .navbar.navbar.navbar-expand-md>section {
    margin-top: 3rem
  }
  
  .navbar-toggler-icon.open {
    width: 25px;
    height: 25px;
  }
  
  .navbar-toggler-icon.close {
    width: 25px;
    height: 25px;
  }

  
  .nav-links-styles {
    margin-left:8px;
    color: var(--whitesmoke-color) !important;
  }
  
  .nav-links-styles.active {
    color: var(--secondary-color) !important;
    font-weight: 700 !important;
  }
  
  
  .nav-links-styles {
    font-family: "Poppins", sans-serif;
  }
  
  @media screen and (max-width: 1023px) {
  
    .nav-links-styles {
      padding: 1rem 0 !important;
    }
  }
  
  @media screen and (min-width: 991px) {
  
    .nav-links-styles {
      margin: 0 8px;
    }
  }
  
  .scrolled {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }