.button-line {
    width: 32px;
    height: 2px
  }
  
  
  /*  --- Button line --- */
  
  .primary-button:hover .button-line {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--white-color) !important;
  }
  
  .secondary-button:hover .button-line {
    background-color: var(--white-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
  }
  
  .tertiary-button:hover .button-line {
    background-color: var(--white-color) !important;
    border-color: var(--white-color) !important;
    color: var(--white-color) !important;
  }
  
  @media screen and (min-width: 768px) {
    .button-line {
      width: 40px;
    }
  }