.footer {
  background-color: var(--secondary-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 230px;
}

.line-div {
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  background-color: var(--secondary-color);
}

.line {
  height: 2px;
  background: var(--third-color);
  opacity: 0.4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: var(--fifth-color);
  color: var(--primary-color);
  margin: 40px 0
}

.icon-div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  -o-border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.icon-div a {
  color: var(--white-color);
}

.footer-text.credit,
.footer-text .link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: small;
  line-height: 160%;
  color: var(--fifth-color);
  color: var(--primary-color);
}